# Server
PORT=3000
NODE_ENV=development

# Roboflow
ROBOFLOW_API_KEY=your_roboflow_api_key_here
ROBOFLOW_WORKSPACE_NAME=ifechukwu-nwokedi-s-workspace
OCR_WORKFLOW_ID=pharma-ocr-identifier-1778509000939
SIFT_WORKFLOW_ID=pharma-sift-authenticity-verifier-1778509003924

# Firebase
FIREBASE_PROJECT_ID=your_firebase_project_id
FIREBASE_PRIVATE_KEY=your_firebase_private_key
FIREBASE_CLIENT_EMAIL=your_firebase_client_email
FIREBASE_STORAGE_BUCKET=your_firebase_storage_bucket
REFERENCE_IMAGE_INDEX_PATH=reference-images-index.json

# Logging
LOG_LEVEL=debug
